<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Versionning M2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title text-primary">
                Machine learning du dataset de Titanic
            </h5>
        </div>
        <div class="card-body">
            <div>
                <p>Groupe 2</p>
                <p>
                    TRAORE Boubacar (Scrum Master),
                    SOW Mariéta,
                    WAFFO KAMDEM Adonis Ghislin,
                    AZIMARI TOURE Ikbal,
                    HINFENE Digali Blandine
                </p>
            </div>

            <div>
                <p class="mb-2">
                    Uploader le fichier Titanic CSV
                    <a href="{{ url_for('static', filename='Titanic-Dataset.csv') }}">Titanic</a>
                </p>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="file" name="file" required class="form-control">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">
                            Envoyer le Dataset
                        </button>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
